#block2 {
    position: relative;
	line-height: 1.5;
	background-color: $red;
	padding: 20px;
		input[type="text"] {
			padding: 10px;
		}
		.button {
			cursor: pointer;
			padding: 10px;
			width: 120px;
		}
}